<h1>Redefinir Senha</h1>
<%= form_with model: @user, url: password_path(params[:token]), method: :patch do |form| %>
  <div class="my-5">
    <%= form.label :password, "Nova Senha" %>
    <%= form.password_field :password, required: true %>
  </div>
  <div class="my-5">
    <%= form.label :password_confirmation, "Confirme a Nova Senha" %>
    <%= form.password_field :password_confirmation, required: true %>
  </div>
  <%= form.submit "Salvar Nova Senha" %>
<% end %>