<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Entrar" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

<%# <link rel="preconnect" href="https://fonts.googleapis.com"> %>
<%# <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> %>
<%# <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet"> %>
  
  <%# Nova fonte "Pacifico" %>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  </head>

  <body class=" font-pacifico min-h-screen flex flex-col items-center justify-center py-6 px-4 sm:px-6 lg:px-8" style="background-color: #142D4A">    <%= yield %> <%# Isto vai renderizar o seu código de new.html.erb (o card) %>
  </body>
</html>